*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  line-height: 1.6;
}

li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
}
